h5 {
  border: solid white 2px;
  margin: 10px auto;
  background: white;
  color: #000000;
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
