#addNewTaskBtn {
  margin-left: 590px;
  background-color: #eed3ee;
  border-radius: 5px;
  margin-top: 25px;
  border: solid white 2px;
  padding: 5px;
}

#addTaskForm {
  display: none;
  margin: 60px;
  margin-bottom: 40px;
  margin-left: 130px;
}
#addBtn {
  background-color: #eed3ee;
  border-radius: 5px;
  border: solid white 2px;
  padding: 5px;
  width: 100px;
}
